.coolors-container {
  display: flex;
  margin: 1rem 0;
  padding: 1rem 3rem;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  color: var(--background-color);
  background-color: var(--accent-third);
  transition: background-color 0.2s ease;
}

.coolors-container:hover {
  color: var(--background-color);
  background-color: var(--accent-third);
  box-shadow: inset 0 0 0 3px var(--third-color);
}

.coolors-container:focus-visible {
  outline: 3px solid var(--primary-color);
  outline-offset: 2px;
}

.color-schema {
  padding: 1rem;
  border: 1px solid var(--accent-color);
  border-radius: 1rem;
  gap: 1rem;

  display: grid;
  grid-template-columns: 1fr;
  align-items: center;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.color-schema li {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  color: var(--heading-color);
  font-weight: 600;
}

.color-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: 0;
  gap: 1rem;
}

.color-button:hover .color-swatch {
  filter: brightness(1.2);
}

.color-hex {
  display: none;
}

.color-swatch {
  position: relative;
  overflow: hidden;
  padding: 1rem;
  border-radius: 1rem;
  width: 12px;
  height: 12px;
  border: 1px solid var(--accent-color);
  box-shadow: 1px 3px 5px rgba(54, 54, 54, 0.3);
  transition: filter 0.3s ease;
}

.color-swatch::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3); /* Transparent white */
  mix-blend-mode: difference; /* Inverts color logic dynamically */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.color-button:hover .color-swatch::after {
  opacity: 1;
}

.background-colors {
  background-color: var(--background-color);
}

.headings {
  background-color: var(--heading-color);
}

.paragraphs {
  background-color: var(--paragraph-color);
}

.colors-1 {
  background-color: var(--primary-color);
}

.colors-2 {
  background-color: var(--secondary-color);
}

.colors-3 {
  background-color: var(--third-color);
}

.accents-1 {
  background-color: var(--accent-primary);
}

.accents-2 {
  background-color: var(--accent-secondary);
}

.accents-3 {
  background-color: var(--accent-third);
}

.wireframe-desktop {
  border-radius: 1rem;
  border: 1px solid var(--accent-color);
  display: grid;
  height: 100%;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main aside"
    "footer footer footer";
  grid-template-rows: auto 2fr 1fr auto;
  grid-template-columns: 2fr 2fr 1fr;
}

.wireframe-desktop .header {
  padding: 1rem;
  grid-column: 1 / 4;
  color: #dbdbdb;
  background-color: var(--accent-third);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.wireframe-desktop .main {
  padding: 1rem;
  grid-column: 1 / 3;
  color: var(--heading-color);
  background-color: var(--background-color);
}

.wireframe-desktop .aside {
  padding: 1rem;
  grid-column: 3 / 4;
  background-color: var(--accent-color);
}

.wireframe-desktop .footer {
  padding: 1rem;
  text-align: center;
  grid-column: 1 / 4;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: var(--accent-color);
  background-color: var(--accent-third);
}

.wireframe-mobile {
  max-width: 480px;
  display: grid;
  height: 100%;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  grid-template-rows: auto 2fr 1fr auto;
  grid-template-columns: 1fr;
  border-radius: 1rem;
  border: 1px solid var(--accent-color);
}

.wireframe-mobile .header {
  padding: 1rem;
  color: var(--accent-color);
  background-color: var(--accent-third);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.wireframe-mobile .main {
  padding: 1rem;
  color: var(--heading-color);
  background-color: var(--background-color);
}

.wireframe-mobile .footer {
  padding: 1rem;
  text-align: center;
  color: var(--accent-color);
  background-color: var(--accent-third);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
